/* styles.css */
  .main-container{
    
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgba(250, 255, 255, 0.9);
      

      
  }
  .login-container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    
    color: #fff;
    cursor: pointer;

  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  .loginbut {
    
    background-color: #28104E; /* Change the background color to white */
    color: white; /* Change the text color */
    border: none;
    width: 130px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
 
